@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    background-color: white;
}
.header>div {
    display: flex;
    gap: 46px;
    align-items: center;
}
img{
    width: 180px;
}
a {
    font-weight: 500;
    font-size: 17.16px;
    color: black;
    text-decoration: none;
}
.help-btn {
    background-color: #75bf7a;
    color: white;
    border: none;
    border-radius: 5.95px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 600;
    font-size: 22px;
}
.hero-section{
    display: flex;
    
}
.section-one{
    width: 50%;

  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: end;
}
.section-one h2 {
  font-size: 60.73px;
  font-weight: 800;
}
.section-one p {
  font-size: 24px;
  font-weight: 500;
  color: #9e9da2;
}
.section-two{
    width: 50%;
    display: flex;
    justify-content: center;
}
.section-two>img {
    width: 553px;
}
.download-button {
  font-size: 24.6px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;

  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.download-button> img {
  width: 45px;
}
.button-div{
    display: flex;
    justify-content: space-around;
}
.green-section {
margin-left: 80px;
margin-right: 80px;

  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #75bf7a;
  height: 166px;
  border-radius: 10px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.green-section p {
  font-size: 24.6px;
  font-weight: 600;
  color: #ffffff;
}

.green-section input {
  font-size: 24px;
  padding: 20px;
  border-radius: 4.39px;
  border: none;
  width: 400px;
}

.green-section input:focus {
  outline-color: #75bf7a;
}
.green-section > div {
  display: flex;
  gap: 12px;
}
.section-heading {
  text-align: center;
  font-size: 46px;
  font-weight: 800;
}

.section-heading span {
  color: var(--theme-color);
}
.section-para {
  font-weight: 500;
  font-size: 23px;
  color: var(--light-text-color);
  width: 50%;
  text-align: center;
}

.text-wala-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 25px;
}

.circle {
  width: 400px;
  height: 400px;
  border-radius: 999px;
  background-color: var(--theme-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-section {
  
  height: 90vh;

  display: flex;
}

.mobile-section-one {
 
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
}

.mobile-section-two {
  
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-section-three {

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.circle > img {
  width: 278.9px;
}

.option {
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option > img {
  width: 60px;
}
.option > p {
  font-weight: 500;
  font-size: 20px;
  color: var(--light-text-color);
}
.option > h3 {
  font-weight: 800;
  font-size: 22px;
}

.option-right {
  align-items: end;
  text-align: right;
}

.all-benefits {
  margin-top: 52px;
  margin-bottom: 52px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.benefit {
 
  height: 304px;
  width: 80%;
  background-color: rgb(224, 248, 214);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.benefit-right {
  align-self: flex-end;
}

.benefit  h4 {
  font-size: 33.94px;
  font-weight: 600;
}

.benefit  span {
  font-size: 88px;
  font-weight: 500;
  
}

.benefit  p {
  
font-size: 22px;

}
.benefit img {
  width: 256.79px;
}

.benefit div {
  
  width: 380px;
}

 